@using PagedList.Mvc
@using PagedList
@model IEnumerable<ModelEF.Model.Category>

@{
    ViewBag.Title = "Quản lí danh mục sản phẩm";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp; Quản lí danh mục sản phẩm
}
@using (Html.BeginForm("Index", "Category", FormMethod.Post))
{

    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Thêm mới", "Create", "User", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <th>
                Mã danh mục
            </th>
            <th>
                Tên danh mục
            </th>
            <th>
                Action
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr id="row_@item.Name">
                <td>
                    @item.CategoryID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="~/Admin/Category/Create/@item.CategoryID"><i class="fa fa-refresh"></i></a>
                    &nbsp;
                    @Ajax.ActionLink("Xóa", "Delete", new { @user = item.Name }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa bản ghi này?",
                   OnComplete = "$('#row_" + item.Name + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @seachString = @ViewBag.SearchString }))
</div>
