@{
    ViewBag.Title = "Detail";
    var relatedProduct = (List<ModelEF.Model.Product>)ViewBag.RelatedProducts;
}
@model ModelEF.Model.Product

@section header{}
<!doctype html>
<html class="no-js" lang="zxx">

<!-- single-product-normal31:50-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VP Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Material Design Iconic Font-V2.2.0 -->
    <link rel="stylesheet" href="~/Assets/client/css/material-design-iconic-font.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css">
    <!-- Font Awesome Stars-->
    <link rel="stylesheet" href="~/Assets/client/css/fontawesome-stars.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/meanmenu.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.min.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/slick.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/animate.css">
    <!-- Jquery-ui CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/jquery-ui.min.css">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/venobox.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/nice-select.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/magnific-popup.css">
    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Assets/client/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/responsive.css">
    <!-- Modernizr js -->
    <script src="~/Assets/client/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">

        <!-- Li's Breadcrumb Area End Here -->
        <!-- content-wraper start -->
        <div class="content-wraper">
            <div class="container">
                <div class="row single-product-area">
                        <div class="col-lg-5 col-md-6">
                            <!-- Product Details Left -->
                            <div class="product-details-left">

                                <div class="product-details-images slider-navigation-1">
                                    <div class="lg-image">
                                        <img src="https://lh3.googleusercontent.com/LFgX6gRnHYEBcxikfBN-QlQF2vpQY7XZi623LEUyJO5IXTaeDtLHUitIVHAPwLmHbeski-Q9jVVwN7E8jUy1e1LexvdDocQ=w500-rw" alt="">
                                    </div>                                   
                                </div>

                            </div>
                            <!--// Product Details Left -->
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="product-details-view-content sp-normal-content pt-60">
                                <div class="product-info">
                                    <h2>Laptop ASUS ROG Strix Scar 15 G533QR</h2>
                                    <span class="product-details-ref">Reference: 30</span>
                                    <div class="rating-box pt-20">
                                        <ul class="rating rating-with-review-item">
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="review-item"><a href="#">Đọc đánh giá</a></li>
                                            <li class="review-item"><a href="#">Viết đánh giá</a></li>
                                        </ul>
                                    </div>
                                    <div class="price-box pt-20">
                                        <span class="new-price new-price-2">25,000,000₫</span>
                                    </div>
                                    <div class="product-desc">
                                        <p>
                                            <span>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="single-add-to-cart">
                                        <form action="#" class="cart-quantity">
                                            <div class="quantity">
                                                <label>Quantity</label>
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="1" type="text">
                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>
                                            </div>
                                            <button class="add-to-cart" type="submit">Mua Hàng</button>
                                        </form>
                                    </div>
                                    <div class="product-additional-info">
                                        <div class="product-social-sharing">
                                            <ul>
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>

        <!-- Begin Li's Laptop Product Area -->
        <section class="product-area li-laptop-product pt-30 pb-50">
            <div class="container">
                <div class="row">
                    <!-- Begin Li's Section Area -->
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Các sản phẩm tương tự</span>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                @foreach (var item in relatedProduct)
                                {
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img src="@item.Image" alt="@item.Name">
                                                </a>
                                                <span class="sticker">New</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="product-details.html">@item.Category.Name</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="single-product.html">@item.Name</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">@String.Format("{0:#,##0₫}", item.UnitCost)</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Mua hàng</a></li>
                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <!-- Li's Section Area End Here -->
                </div>
            </div>
        </section>

        <!-- Begin Quick View | Modal Area -->
        <!-- Quick View | Modal Area End Here -->
    </div>
    <script src="~/Assets/client/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Assets/client/js/vendor/popper.min.js"></script>
    <!-- Bootstrap V4.1.3 Fremwork js -->
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <!-- Ajax Mail js -->
    <script src="~/Assets/client/js/ajax-mail.js"></script>
    <!-- Meanmenu js -->
    <script src="~/Assets/client/js/jquery.meanmenu.min.js"></script>
    <!-- Wow.min js -->
    <script src="~/Assets/client/js/wow.min.js"></script>
    <!-- Slick Carousel js -->
    <script src="~/Assets/client/js/slick.min.js"></script>
    <!-- Owl Carousel-2 js -->
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <!-- Magnific popup js -->
    <script src="~/Assets/client/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope js -->
    <script src="~/Assets/client/js/isotope.pkgd.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/Assets/client/js/imagesloaded.pkgd.min.js"></script>
    <!-- Mixitup js -->
    <script src="~/Assets/client/js/jquery.mixitup.min.js"></script>
    <!-- Countdown -->
    <script src="~/Assets/client/js/jquery.countdown.min.js"></script>
    <!-- Counterup -->
    <script src="~/Assets/client/js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Assets/client/js/waypoints.min.js"></script>
    <!-- Barrating -->
    <script src="~/Assets/client/js/jquery.barrating.min.js"></script>
    <!-- Jquery-ui -->
    <script src="~/Assets/client/js/jquery-ui.min.js"></script>
    <!-- Venobox -->
    <script src="~/Assets/client/js/venobox.min.js"></script>
    <!-- Nice Select js -->
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/Assets/client/js/scrollUp.min.js"></script>

    <script src="~/Assets/client/js/main.js"></script>
</body>

</html>

