@using PagedList.Mvc
@using PagedList
@model IEnumerable<ModelEF.Model.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-laptop"></i>&nbsp; Quản lí sản phẩm
}

@using (Html.BeginForm("Index", "Product", FormMethod.Post))
{

    <div class="col-lg-12 form-group">
        <div class="col-md-6">
            @Html.ActionLink("Thêm mới", "Create", "Product", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
        </div>
    </div>
}
<div>
    <table class="table">
        <tr>
            <th>
                ID Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="row_@item.ID">
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @String.Format("{0:#,##0₫}",item.UnitCost)
                </td>              
                <td>
                    @item.Quantity
                </td>
                <td>
                     <img src="@Url.Content(item.Image)" height="64" width="64" alt="productImg" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @item.Status
                </td>
               
                <td>
                    <button>@Html.ActionLink("Xem Chi Tiết", "Detail", "Product") </button>
                </td>

            </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @seachString = @ViewBag.SearchString }))
</div>